<div class="div_main">
    <h1 class="title_site-descripcion">Detalles del sitio web</h1>
</div>

<div class="div_main">
    <div class="div_buttons">
        <button mat-button class="buttons" (click)="inputDisabled = false">Editar</button>
    </div>
</div>

<div>
    <mat-card class="mat_card">
        <div>

            <div>
              <mat-form-field class="div_form">
                <mat-label>Url</mat-label>
                <input matInput [disabled]="inputDisabled" value="">
              </mat-form-field>
            </div>
          
            <div>
              <mat-form-field class="div_form">
                <mat-label>Usuario</mat-label>
                <input matInput [disabled]="inputDisabled" value="">
              </mat-form-field>
            </div>
          
            <div>
              <mat-form-field class="div_form">
                <mat-label>Contraseña</mat-label>
                <input matInput [disabled]="inputDisabled" value="" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          
            <div>
              <mat-form-field class="div_form">
                <mat-label>Description</mat-label>
                <textarea style="resize: none" matInput [disabled]="inputDisabled" value=""></textarea>
              </mat-form-field>
            </div>
          
          </div>
    </mat-card>
</div>