<div class="div_main">
    <h1 class="title_site-descripcion">Detalles del sitio web</h1>
</div>

<div>
    <mat-card class="mat_card">
        <div>

          <form [formGroup]="siteForm">
            <div>
              <mat-form-field class="div_form">
                <mat-label>Url</mat-label>
                <input matInput [disabled]="inputDisabled" formControlName="name">
              </mat-form-field>
            </div>
          
            <div>
              <mat-form-field class="div_form">
                <mat-label>Usuario</mat-label>
                <input matInput [disabled]="inputDisabled" value="" formControlName="user">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="div_form">
                <mat-label>Url</mat-label>
                <input matInput [disabled]="inputDisabled" value="" formControlName="url">
              </mat-form-field>
            </div>
          
            <div>
              <mat-form-field class="div_form">
                <mat-label>Contraseña</mat-label>
                <input matInput [disabled]="inputDisabled" value="" [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </form>

        </div>
    </mat-card>
</div>

<div class="div_main">
  <div class="div_buttons">
      <button mat-button class="buttons" (click)="saveEdit()">Enviar actualizacion</button>
  </div>
</div>