<div>
    <div class="div_title_category">
        <h1 class="title_category">Categorias</h1>
    </div>

    <div class="div_subtitle_category">
        <h2 class="subtitle_category">
            Categoria selecionada: {{categorys.selectedOptions.selected[0]?.value}}
        </h2>
    </div>

    <mat-selection-list #categorys [multiple]="false">

        <mat-list-option *ngFor="let category of allCategorys" [value]="category">
          {{category.name}}
        </mat-list-option>

    </mat-selection-list>

</div>

