<h1 mat-dialog-title>Crear sitio</h1>

<div mat-dialog-content>

  <div class="div_form_field">
    <p class="subtitle_p">Ingresa una URL para el nuevo sitio web</p>
    <mat-form-field class="div_form">
      <mat-label>Url</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="div_form_field">
    <p class="subtitle_p">Ingresa el nombre del usuario para el nuevo sitio web</p>
    <mat-form-field class="div_form">
      <mat-label>Usuario</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div class="div_form_field">
    <p class="subtitle_p">Ingresa una contraseña para el nuevo sitio web</p>
    <mat-form-field class="div_form">
      <mat-label>Contraseña</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="div_form_field">
    <p class="subtitle_p">Ingresa una Descripcion para el nuevo sitio web</p>
    <mat-form-field class="div_form">
      <mat-label>Description</mat-label>
      <textarea style="resize: none" matInput></textarea>
    </mat-form-field>
  </div>

</div>

<div mat-dialog-actions class="div_buttons">
  <button mat-button (click)="exit()" class="buttons">Salir</button>
  <button mat-button cdkFocusInitial class="buttons">Crear</button>
</div>